* {
    box-sizing: border-box;
    
    
  }
header {
    background-color: rgb(44, 44, 36);
    text-align: center;
    padding: 15px;
    color:orange;
    font-size: 18px;
    font-family: 'Righteous', cursive;
}
 main {
    /* background-color: rgb(222, 236, 235); */
    font-family: 'Righteous', cursive; 
    height: 100vh;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQXQb7BMvxTOFReseP8hnQPcxmf2M_maD7JTjfExx8IIhtuMxGug");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

.container-1 {
    flex: 1;
    text-align: center;
  }

.container-2 {
    flex: 1;
    text-align: center;
  } 

form {
    flex-basis: 40%;
    margin: auto;
}

.bookmarks-list {
    margin: 20px;  
    padding: 0;
}

.bookmark-element {
    font-family: 'Julius Sans One', sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 0 20px 20px 20px;
    margin-top: 10px;
    font-size: 15px;
    box-shadow:  8px 5px 2px 0px rgba(65, 65, 80, 0.2);;
} 

.bookmark-controls {
    display: inline-block;
    text-align: center;
}

button {
    background-color: rgb(226, 226, 248);
    border: 0;
    width: 95px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  5px 3px 5px 0px rgba(44, 44, 36, 0.644);
}

button:hover {
    background-color: rgb(170, 180, 156);
  }

button:focus {
    outline: 0;
}

#new-bookmark, #ratingSort {
    background-color: rgb(171, 231, 211);
    width: 200px;
    height: 80px;
    margin: 10px;
    padding:10px;
    border-radius: 10px;
    box-shadow:  8px 3px 5px 0px rgba(44, 44, 36, 0.644);
   
}
#new-bookmark:hover, #ratingSort:hover {
    background-color: rgb(170, 180, 156);
}


#title-entry{
    width:50%;
    padding: 5px;
    margin: 20px;
}

#desc-entry {
    width: 80%;
    height: 100px;
    padding: 5px;
    margin: 20px;
    }

#radio-buttons {
    margin: 20px;
    padding:5px;
    }

    #URL-entry {
    width: 80%;
    padding: 5px;
    margin: 20 px;
    }

ul {
    list-style-type: none;
    } 

#dropdownList {
    border: solid 1px black;
    padding: 10px;
    list-style-type: none;
    }


.checked {
    color: orange;
  }


  @media(min-width: 700px) {
    header {
        font-size: 25px; 
        padding: 20px;
    }
    .row {
        display: flex;
        /* background-color:rgb(222, 236, 235); */
    }
    .container-1 {
        text-align: right;
    }

    .container-2{
        text-align: left 
    }
    #list-display {
        display: flex;
       
    }
    .bookmarks-list{
        display: flex;
        margin: auto;
        flex-basis: 75%;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .form-container {
        display: flex;
    }
  }