* {
    box-sizing: border-box;
    font-family: 'Julius Sans One', sans-serif;
    background-color: rgb(248, 244, 239);
  }

main {
    z-index: 1;
    background-color: rgb(248, 244, 239);
}

header {
    background-color: rgb(19, 27, 44);
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
    color: lightgrey;
    font-stretch: extra-expanded;    
}
form {
    text-align: left;
}

button {
    background-color: rgb(200, 245, 230);
    border: 0;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow:  5px 3px 1px 0px rgba(76, 76, 88, 0.2);
}

button:hover {
    background-color: rgb(170, 180, 156);
  }

button:focus {
    outline: 0;
}

ul {
    list-style-type: none;
}

.container {
    text-align: center;
    border: 2px solid white;
    margin: auto;
}
.star-choice-container {
    display: inline-block;
    margin-right: 50%;
    margin-left: 50%;
    text-align: center;
}

#new-bookmark, #ratingSort {
    background-color: rgb(200, 245, 230);
    width: 200px;
    height: 80px;
    margin: 10px;
    padding:10px;
    border-radius: 10px;
    box-shadow:  8px 5px 2px 0px rgba(76, 76, 88, 0.2);
   
}
#new-bookmark:hover, #ratingSort:hover {
    background-color: rgb(170, 180, 156);
}

#dropdownList {
    border: solid 1px black;
    width: 120px;
    padding: 10px;
    
}
.bookmark-element {
    border:solid 1px darkgrey;
    padding: 0 20px 20px 20px;
    display: inline-block;
    width: 45%;
    font-size: 15px;
}


#title-entry{
    width:50%;
    padding: 5px;
    margin: 20px;
}
#desc-entry {
    width: 80%;
    height: 100px;
    padding: 5px;
    margin: 20px;
}
#radio-buttons {
    margin: 20px;
    padding:5px;
}
#URL-entry {
    width: 80%;
    padding: 5px;
    margin: 20 px;
}

#list-display {
    
    text-align: center;
}
.checked {
    color: orange;
  }

@media (max-width: 750px) {
    .bookmark-element {
        width: 70%;
    }    
}

@media (max-width: 650px) {
    .bookmark-element {
        width: 90%;
    }    
}